.movie_cover {
  width: 30%;
  margin-bottom: 50px;
}

.img_cover {
  width: 250px;
  height: 360px;
}

.img_cover img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.content_cover {
  margin-top: 30px;
}

.content_cover h2 {
  font-size: 26px;
}

.content_cover h5 {
  font-size: 14px;
  color: #666;
  font-weight: 300;
  text-transform: uppercase;
}

.content_cover h6 {
  font-size: 12px;
  color: #666;
  font-weight: 400;
}

.content_cover p {
  line-height: 1.6rem;
  font-size: 12px;
  width: 90%;
}

.more {
  font-size: 12px;
  padding: 7px 18px;
  background-color: #0e0e0e;
  color: #fff;
}

.more:hover {
  background-color: #60db7b;
  color: #fff;
}
